<div class="animated fadeIn" *ngIf="status">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> System Status
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table table-responsive-sm table-striped table-sm">
                                <tbody>
                                    <tr>
                                        <th>Environment</th>
                                        <td>{{status.environment}}</td>
                                    </tr>
                                    <tr>
                                        <th>Data center</th>
                                        <td>{{status.datacenter}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table class="table table-responsive-sm table-striped table-sm">

                                <tbody>
                                    <tr>
                                        <th>Current time</th>
                                        <td>{{status.currentTime}}</td>
                                    </tr>
                                    <tr>
                                        <th>Uptime</th>
                                        <td>{{status.upTime}}</td>
                                    </tr>
                                    <tr>
                                        <th>Lease expiration enabled</th>
                                        <td>{{status.leaseExpirationEnabled}}</td>
                                    </tr>
                                    <tr>
                                        <th>Renews threshold</th>
                                        <td>{{status.numOfRenewsPerMinThreshold}}</td>
                                    </tr>
                                    <tr>
                                        <th>Renews (last min)</th>
                                        <td>{{status.numOfRenewsInLastMin}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="!status.selfPreservationModeEnabled; else elseBlock;">
                            <h4>RENEWALS ARE LESSER THAN THE THRESHOLD. THE SELF PRESERVATION MODE IS TURNED OFF. THIS MAY NOT PROTECT INSTANCE EXPIRY IN CASE OF NETWORK/OTHER PROBLEMS.</h4>
                            <ng-template #elseBlock>EMERGENCY! EUREKA MAY BE INCORRECTLY CLAIMING INSTANCES ARE UP WHEN THEY'RE NOT. RENEWALS ARE LESSER THAN THRESHOLD AND HENCE THE INSTANCES ARE NOT BEING EXPIRED JUST TO BE SAFE.</ng-template>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> DS Replicas
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-striped table-sm">
                        <tbody>
                            <tr>
                                <td>localhost</td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Instances currently registered with CDT-Eureka
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-bordered table-striped table-sm">
                        <thead class="thead-light">
                            <tr class="text-center">
                                <th style="width: 20px;">#</th>
                                <th>Application</th>
                                <th>AMIs</th>
                                <th>Availability Zones</th>
                                <th>Status</th>
                                <th>Instance ID</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let i = index; let app of apps;">
                            <tr *ngFor="let insInfo of app.instanceInfos;">
                                <td>{{i + 1}}</td>
                                <td>{{app?.name}}</td>
                                <td class="text-center">({{app?.amiCounts?.length}})</td>
                                <td class="text-center">({{app?.zoneCounts?.length}})</td>
                                <!-- <td *ngFor="let ins of insInfo.instances">{{insInfo.status}} ({{insInfo.instances?.length}}) - <a href="{{ins?.url}}">{{ins?.id}}</a></td> -->
                                <td class="text-center" *ngFor="let ins of insInfo.instances">{{insInfo.status}} ({{insInfo.instances?.length}})</td>
                                <td *ngFor="let ins of insInfo.instances"><a href="{{ins?.url}}">{{ins?.id}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> General Info
                </div>

                <!-- <div *ngIf="isSubmitted">
                          <div class="alert alert-success" *ngIf="isSuccess">
                              <strong> {{_statusMsg}} Please Wait ..</strong>.
                          </div>
        
                          <div class="alert alert-danger" *ngIf="!isSuccess ">
                              <strong>{{_statusMsg}}</strong>
                          </div>
                      </div> -->

                <div class="card-body">
                    <table class="table table-responsive-sm  table-striped table-sm">
                        <tbody>
                            <tr>
                                <th scope="row">total-avail-memory</th>
                                <td>{{status.generalStats.totalavailmemory}}</td>
                            </tr>
                            <tr>
                                <th scope="row">environment</th>
                                <td>{{status.generalStats.environment}}</td>
                            </tr>
                            <tr>
                                <th scope="row">num-of-cpus</th>
                                <td>{{status.generalStats.numofcpus}}</td>
                            </tr>
                            <tr>
                                <th scope="row">current-memory-usage</th>
                                <td>{{status.generalStats.currentmemoryusage}}</td>
                            </tr>
                            <tr>
                                <th scope="row">server-uptime</th>
                                <td>{{status.generalStats.serveruptime}}</td>
                            </tr>
                            <tr>
                                <th scope="row">registered-replicas</th>
                                <td>n/a</td>
                            </tr>
                            <tr>
                                <th scope="row">unavailable-replicas</th>
                                <td>n/a</td>
                            </tr>
                            <tr>
                                <th scope="row">available-replicas</th>
                                <td>n/a</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Instance Info
                </div>
                <div class="card-body">
                    <table class="table table-responsive-sm table-striped table-sm">
                        <tbody>
                            <tr>
                                <th scope="row">IP-Address</th>
                                <td>{{status.instanceInfo.ipAddr}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Status</th>
                                <td>{{status.instanceInfo.status}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>


<!-- <app-confirmation-modal (hideModal)="modalConfirmation($event)" #confirmModal></app-confirmation-modal> -->