<div class="animated fadeIn">
    <form [formGroup]="libraryProForm" (ngSubmit)="submitForm()" novalidate>
        <div class="row">
            <!-- Form -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"><strong>Add Library properties</strong><small> Form</small>

                    </div>
                    <div class="card-body">

                        <!-- status msg start-->
                        <div *ngIf="isSubmitted">
                            <div class="alert alert-success" *ngIf="isSuccess">
                                <strong> {{_statusMsg}} Please Wait ..</strong>.
                            </div>

                            <div class="alert alert-danger" *ngIf="!isSuccess ">
                                <strong>{{_statusMsg}}</strong>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Library </label>
                                    <select formControlName="libraryId" class="form-control" name="libraryId" [ngClass]="{'is-invalid': libraryProForm.get('libraryId').touched && libraryProForm.get('libraryId').invalid}">
                                        <option value="" selected>-- Select Library --</option>
                                        <option *ngFor="let lib of libraryList" value="{{lib.id}}"> {{lib.name}}
                                        </option>
                                    </select>

                                    <div class="invalid-feedback">
                                        <div>Please Select Library</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label># Key</label>
                                    <input type="text" value="" name="attrKey" formControlName="attrKey" class="form-control" [ngClass]="{'is-invalid': libraryProForm.get('attrKey').touched && libraryProForm.get('attrKey').invalid}">

                                    <div class="invalid-feedback">
                                        <div>Please Enter Key</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>$ Value</label>
                                    <input type="text" value="" name="attrValue" formControlName="attrValue" class="form-control" [ngClass]="{'is-invalid': libraryProForm.get('attrValue').touched && libraryProForm.get('attrValue').invalid}">

                                    <div class="invalid-feedback">
                                        <div>Please Enter Value</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer">
                            <input type="submit" class="btn btn-primary" value="Submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>