<div class="row">
    <div class="col-sm-2" *ngFor="let docker of dockerInfoList;let rowIndex = index">
        <div class="card card-accent-success">
            <div class="card-header" [id]="docker.name">
                <span class="collapsed" data-toggle="collapse" [attr.data-target]="'#'+docker.id" aria-expanded="false" [attr.aria-controls]="docker.id">
                  <i class="fas fa-database" *ngIf="docker.dockertype=='database'"></i> 
                  <i class="fas fa-code" *ngIf="docker.dockertype=='api'"></i> 
                  <i class="fas fa-box" *ngIf="docker.dockertype=='container'"></i> 
                  {{docker.name}}</span>
                <div class="card-header-actions">
                    <span class="badge badge-success">UP</span>
                </div>

            </div>
            <div [id]="docker.id" class="collapse" [attr.aria-labelledby]="docker.name" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th>Port</th>
                                <td>{{docker.port}}</td>
                            </tr>
                            <tr>
                                <th>Username</th>
                                <td>{{docker.username}}</td>
                            </tr>
                            <tr>
                                <th>EndpointUrl</th>
                                <td>{{docker.endpointUrl}}</td>
                            </tr>
                            <tr>
                                <th>Image</th>
                                <td>{{docker.image}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>